.newsletter-section {
    background-color: #f7f7f7;
    padding: 2.5% 8.4% !important;
    
    .subscribe-content,
    .subscribe-form {
        width: 49%;
        display: inline-block;
        vertical-align: middle;
    }
    
    .subscribe-content img,
    .subscribe-content span,
    .subscribe-form .wysija-input,
    .subscribe-form .wysija-paragraph,
    .subscribe-form .wysija-submit {
        display: inline-block;
        vertical-align: middle;
        border-radius: 0;
    }

    .subscribe-content {
        span {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 10px;
        }
    }

    .subscribe-form {
        font-family: $secondary-font;

        .wysija-paragraph {
            width: 70%;
            margin-bottom: 0;

            label {
                display: none;
            }
        }

        .wysija-input {
            width: 100%;
            font-weight: 300;
            padding: 12px;
        }

        .wysija-submit {
            margin-top: 0 !important;
            background-color: $primary-color;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 15px 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .newsletter-section {
        padding: 2.5% 2% !important;

        .subscribe-form {
            .wysija-submit {
                padding: 15px 25px;
            }
        }

        .subscribe-content {
            span {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .newsletter-section {
        .subscribe-content,
        .subscribe-form {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 640px) {
    .newsletter-section {
        padding: 2.5% 2% !important;
    }
}

@media screen and (max-width: 480px) {
    .newsletter-section {
        .subscribe-content span {
            font-size: 14px;
            padding: 10px 0 0;
        }

        .subscribe-form {
            .wysija-paragraph,
            .wysija-submit {
                width: 100%;
                margin: 5px 0;
            }
        }
    }
}